In [44]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

points=pd.read_csv("C:\\Users\\kp\\Pictures\\Assignments\\Basic Statistics_Level 1\\Q7.csv",header=0)
car=pd.read_csv("C:\\Users\\kp\\Pictures\\Assignments\\Basic Statistics_Level 1\\Q9_a.csv",header=0)
sp_weigh=pd.read_csv("C:\\Users\\kp\\Pictures\\Assignments\\Basic Statistics_Level 1\\Q9_b.csv",header=0)
cars_specs=pd.read_csv("C:\\Users\\kp\\Pictures\\Assignments\\Basic Statistics_Level 1\\Cars.csv",header=0)
cancer=pd.read_csv("C:\\Users\\kp\\Pictures\\Assignments\\Basic Statistics_Level 1\\wc-at.csv",header=0)
car.describe()

          Index      speed        dist
count  50.00000  50.000000   50.000000
mean   25.50000  15.400000   42.980000
std    14.57738   5.287644   25.769377
min     1.00000   4.000000    2.000000
25%    13.25000  12.000000   26.000000
50%    25.50000  15.000000   36.000000
75%    37.75000  19.000000   56.000000
max    50.00000  25.000000  120.000000

In [45]:
car.iloc[:,1:].kurt()

speed   -0.508994
dist     0.405053
dtype: float64

In [46]:
sp_weigh.iloc[:,1:].skew()

SP    1.611450
WT   -0.614753
dtype: float64

In [47]:
sp_weigh.iloc[:,1:].kurt()

SP    2.977329
WT    0.950291
dtype: float64

In [48]:
cars_specs.describe()
#len(cars_specs[cars_specs['MPG']<40])

               HP        MPG         VOL          SP         WT
count   81.000000  81.000000   81.000000   81.000000  81.000000
mean   117.469136  34.422076   98.765432  121.540272  32.412577
std     57.113502   9.131445   22.301497   14.181432   7.492813
min     49.000000  12.101263   50.000000   99.564907  15.712859
25%     84.000000  27.856252   89.000000  113.829145  29.591768
50%    100.000000  35.152727  101.000000  118.208698  32.734518
75%    140.000000  39.531633  113.000000  126.404312  37.392524
max    322.000000  53.700681  160.000000  169.598513  52.997752

In [49]:
#Null Hypothesis: Data is Normally Distributed
#Alternative Hypothesis: Data is not Normally Distributed

cars_specs_HP=stats.shapiro(cars_specs['HP'])
cars_specs_MPG=stats.shapiro(cars_specs['MPG'])
cars_specs_VOL=stats.shapiro(cars_specs['VOL'])
cars_specs_SP=stats.shapiro(cars_specs['SP'])
cars_specs_WT=stats.shapiro(cars_specs['WT'])

#print(cars_specs_HP[1],cars_specs_MPG[1],cars_specs_VOL[1],cars_specs_SP[1],cars_specs_WT[1])

if (cars_specs_HP[1] > 0.05 and cars_specs_MPG[1] > 0.05 and 
    cars_specs_VOL[1] > 0.05 and cars_specs_SP[1] > 0.05 and cars_specs_WT[1] > 0.05):
    
    print("All the variables in the DataSet are Normally Distributed")
    
else:
    
    print("Either one or more Variables in the Dataset are not Normally Distributed")

Either one or more Variables in the Dataset are not Normally Distributed

In [50]:
#Null Hypothesis: Data is Normally Distributed
#Alternative Hypothesis: Data is not Normally Distributed

cars_specs_MPG=stats.shapiro(cars_specs['MPG'])

if (cars_specs_MPG[1] > 0.05):
    
    print("Accept/Fail to Reject Null Hypothesis: Data in MPG variable of the DataSet is Normally Distributed")
    
else:
    
    print("Reject Null Hypothesis: Data in MPG variable of the DataSet is not Normally Distributed")

Accept/Fail to Reject Null Hypothesis: Data in MPG variable of the DataSet is Normally Distributed

In [51]:
#Null Hypothesis: Data is Normally Distributed
#Alternative Hypothesis: Data is not Normally Distributed

cancer_Waist=stats.shapiro(cancer['Waist'])
cancer_AT=stats.shapiro(cancer['AT'])

#print(cancer_Waist[1],cancer_AT[1])

if (cancer_Waist[1] > 0.05 and cancer_AT[1] > 0.05):
    
    print("All the variables in the DataSet are Normally Distributed")
    
else:
    
    print("Either one or more Variables in the Dataset are not Normally Distributed")

Either one or more Variables in the Dataset are not Normally Distributed