In [142]:
import pandas as pd
import numpy as np
import pylab
import seaborn as sns
import scipy.stats as st
import statsmodels.api as sm
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

corolla=pd.read_csv("C:\\Users\\kp\\Pictures\\Assignments\\Multi Linear Regression\\ToyotaCorolla.csv",header=0,encoding='latin1')
corolla.head(5)

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0

In [143]:
corolla=pd.get_dummies(corolla,columns=['Color','Fuel_Type'])
corolla.drop(['Id','Model','Mfg_Month','Mfg_Year','Guarantee_Period'],axis=1,inplace=True)

# #Dropping records which are too sensitive for the regressor to learn the pattern(Outliers) by Influencer Plot
# corolla.drop(corolla.index[[601]],axis=0,inplace=True)

corolla.head(5)

,Price,Age_08_04,KM,HP,Met_Color,Automatic,cc,Doors,Cylinders,Gears,...,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol
0,13500,23,46986,90,1,0,2000,3,4,5,...,0,0,0,0,0,0,0,0,1,0
1,13750,23,72937,90,1,0,2000,3,4,5,...,0,0,0,1,0,0,0,0,1,0
2,13950,24,41711,90,1,0,2000,3,4,5,...,0,0,0,0,0,0,0,0,1,0
3,14950,26,48000,90,0,0,2000,3,4,5,...,0,0,0,0,0,0,0,0,1,0
4,13750,30,38500,90,0,0,2000,3,4,5,...,0,0,0,0,0,0,0,0,1,0

In [144]:
#Transforming the independant variables values to the Same scale(Feature Scaling)
corolla_scaled=corolla.iloc[:,1:].transform(func='sqrt')
corolla_scaled['Price']=corolla['Price']


features=['Age_08_04', 'KM', 'HP', 'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee', 
          'BOVAG_Guarantee', 'Airco', 'Automatic_airco', 'CD_Player', 'Powered_Windows', 'Backseat_Divider', 
          'Color_Black', 'Color_Blue', 'Color_Green', 'Color_Grey', 'Color_Red', 'Color_Silver', 'Fuel_Type_Petrol']
target=['Price']

corolla_scaled.head(5)

,Age_08_04,KM,HP,Met_Color,Automatic,cc,Doors,Cylinders,Gears,Quarterly_Tax,...,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Price
0,4.795832,216.762543,9.486833,1.0,0.0,44.72136,1.732051,2.0,2.236068,14.491377,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13500
1,4.795832,270.068510,9.486833,1.0,0.0,44.72136,1.732051,2.0,2.236068,14.491377,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,13750
2,4.898979,204.232710,9.486833,1.0,0.0,44.72136,1.732051,2.0,2.236068,14.491377,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13950
3,5.099020,219.089023,9.486833,0.0,0.0,44.72136,1.732051,2.0,2.236068,14.491377,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,14950
4,5.477226,196.214169,9.486833,0.0,0.0,44.72136,1.732051,2.0,2.236068,14.491377,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13750

In [145]:
### Splitting the data into train and test data
train_data,test_data = train_test_split(corolla_scaled,test_size = 0.2,random_state=42) # 20% size

In [146]:
#Model Building

regressor=smf.ols("Price~Age_08_04+ KM+ HP+ Cylinders+ Gears+ Quarterly_Tax+ Weight+ Mfr_Guarantee+ BOVAG_Guarantee+ Airco+ Automatic_airco+ CD_Player+ Powered_Windows+ Backseat_Divider+ Color_Black+ Color_Blue+ Color_Green+ Color_Grey+ Color_Red+ Color_Silver+ Fuel_Type_Petrol",
                  data=train_data).fit()

#Summary
regressor.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.905
Model:                            OLS   Adj. R-squared:                  0.903
Method:                 Least Squares   F-statistic:                     535.9
Date:                Thu, 30 Apr 2020   Prob (F-statistic):               0.00
Time:                        12:19:32   Log-Likelihood:                -9685.2
No. Observations:                1148   AIC:                         1.941e+04
Df Residuals:                    1127   BIC:                         1.952e+04
Df Model:                          20
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept        -4661.5538    633.196     -7.362      0.000   -5903.929   -3419.178
Age_08_04        -1451.4738     39.697    -36.564      0.000   -1529.362   -1373.586
KM                  -7.2524      0.693    -10.472      0.000      -8.611      -5.894
HP                 162.0254     65.157      2.487      0.013      34.183     289.868
Cylinders        -9323.1075   1266.392     -7.362      0.000   -1.18e+04   -6838.356
Gears             1857.0418    795.565      2.334      0.020     296.087    3417.996
Quarterly_Tax      239.8574     31.116      7.708      0.000     178.805     300.910
Weight            1087.1818     81.263     13.378      0.000     927.737    1246.627
Mfr_Guarantee      285.3534     73.063      3.906      0.000     141.998     428.709
BOVAG_Guarantee    509.5326    123.088      4.140      0.000     268.025     751.040
Airco              190.9922     84.968      2.248      0.025      24.279     357.705
Automatic_airco   2121.8956    174.532     12.158      0.000    1779.451    2464.341
CD_Player          197.5401     94.837      2.083      0.037      11.463     383.617
Powered_Windows    243.6712     81.770      2.980      0.003      83.232     404.110
Backseat_Divider  -505.2252    100.666     -5.019      0.000    -702.739    -307.711
Color_Black        828.3800    215.449      3.845      0.000     405.655    1251.105
Color_Blue         618.6840    210.147      2.944      0.003     206.361    1031.007
Color_Green        538.2549    215.554      2.497      0.013     115.322     961.187
Color_Grey         733.1990    210.983      3.475      0.001     319.235    1147.163
Color_Red          598.4548    210.098      2.848      0.004     186.227    1010.682
Color_Silver       815.9996    228.117      3.577      0.000     368.418    1263.581
Fuel_Type_Petrol  1950.1777    244.814      7.966      0.000    1469.835    2430.521
==============================================================================
Omnibus:                       71.556   Durbin-Watson:                   2.041
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              235.824
Skew:                           0.225   Prob(JB):                     6.19e-52
Kurtosis:                       5.174   Cond. No.                     1.05e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.32e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [147]:
train_pred=regressor.predict(train_data[features])
test_pred=regressor.predict(test_data[features])
# sm.graphics.influence_plot(regressor)
# plt.show()

In [148]:
# #Normality Test for Residuals
# #In Order to have a Model's good fit it is important to have the Residuals follow a Normal Distribution Pattern

# # Normal Distribution Check using Histogram
# plt.figure(figsize=(20,15))
# plt.hist(regressor.resid_pearson)
# plt.show()

# # Normal Distribution Check using Q-Q plot
# plt.figure(figsize=(20,15))
# st.probplot(regressor.resid_pearson, dist="norm", plot=pylab)
# plt.show()

# # Homoscedasticity : Error term being same across all values of independent variables
# # Fitted Values Vs Residuals
# plt.figure(figsize=(15,10))
# plt.scatter(train_pred,regressor.resid_pearson,c="r"),plt.axhline(y=0,color='blue');plt.xlabel("Fitted_Values");plt.ylabel("Residuals")
# plt.show()

In [149]:
# Residual values
train_residual  = train_pred - train_data['Price']
test_residual  = test_pred - test_data['Price']

# RMSE value for train and test Data
train_rmse = np.sqrt(np.mean(train_residual*train_residual))
test_rmse = np.sqrt(np.mean(test_residual*test_residual))

print("RMSE Value for the Train Dataset: ",train_rmse)
print("RMSE Value for the Test Dataset: ",test_rmse)
print("R-Square Value of the Model(Measure of Fit): ",regressor.rsquared)

RMSE Value for the Train Dataset:  1116.174673377573
RMSE Value for the Test Dataset:  1184.8528528265367
R-Square Value of the Model(Measure of Fit):  0.9048500479265815